lhls_web_server/root/var/www/html/lhls/js/hls.js
lhls_web_server/root/var/www/html/lhls/audio/data
lhls_encoder/root/usr/local/bin/ffmpeg
ffmpeg/alsa-lib
ffmpeg/fdk-aac
ffmpeg/fmpeg
ffmpeg/static_build
