lhls_web_server/root/var/www/html/lhls/js/hls.js
lhls_web_server/root/var/www/html/lhls/audio/data
lhls_web_server/root/var/www/html/access.log
lhls_encoder/root/usr/local/bin/ffmpeg*
ffmpeg/*
!ffmpeg/*.sh
!ffmpeg/.config
